<configuration>
    <property name="LOG_DIR" value="C:/Users/Fergus/IdeaProjects/gemini/logs" />

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>${LOG_DIR}/gemini.log</file>
        <append>true</append>
        <encoder>
            <pattern>time=%date level=%level module=%logger msg="%msg" thread=%thread%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="FILE" />
    </root>
</configuration>